.main{
    background-color:#34495E;
}

.mainTitle{
    font-family: calibri;
    font-size:18px;
    margin:0 auto;
    padding: 0 auto;
    text-align:center;
    border:1px solid black;
    
}

.fond{
    background-color:white;
    border: 1px solid white;
    border-radius:5px;
}

.affichageJauges{
    height:auto;
    margin-top:80px;
    z-index:-10;
    width:408px;
    padding:-25px;


}

.affichageCommandes{
    height:500px;
    margin-top:80px;
    z-index:-10;
    width: 500px;

}

.affichageCourbes{
    height:auto;
    z-index:-10;
    width:500px;
      margin-top:80px;
}