.main{
    background-color:#34495E;
}

.mainTitle{
    font-family: calibri;
    font-size:18px;
    margin:0 auto;
    padding: 0 auto;
    text-align:center;
    border:1px solid black;
}

.well{
    padding:0px;
}