@font-face{
    font-family: "MainTitle";
    src: url('font/Quicksand-Regular.otf');
}

.main{
    background-color:#34495E;
}

.mainTitle{
 
    font-size:20px;
    margin:-1px;
    padding: -1px;
    text-align:center;
    border-radius:2px;
    border:1px solid rgba(255, 255, 255, 0.6);
    color:white;
    opacity:0.9;
    background-color:#34495E;
    font-family: MainTitle;
    
}

.fond{
    background-color:white;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius:5px;
    z-index:-10;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.1);
        display: inline-block;
    vertical-align: top;
}

.affichageJauges{
    height:auto;
    margin-top:80px;
    z-index:-10;
    min-width:408px;
    padding:-25px;
    width:380px;


}

.affichageCommandes{
    height:840px;
    margin-top:80px;
    z-index:-10;
    width: 30%;

}

.affichageCourbes{
    height:auto;
    z-index:-10;
    width:39%;
     margin-top:80px;
}

@media all and (max-width:1380px){
    .affichageCommandes
    {
        
     width:68.5%;
    }
    .affichageCourbes{
        width:100%;
        margin-top:5px;
    }
}
