
.wakeup {
        margin:5px;
        margin-bottom:10px;
        
  	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
	font-size: 13px;
	display: inline-block;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	color: #444;
	
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	padding: 0 8px;
	text-decoration: none;
}

.wakeup:hover {
    text-decoration: none;
	background-color: #F8F8F8;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	
	border: 1px solid #C6C6C6;
	color: #333;
	
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

/* blue */

.wakeup.blue {
	background-color: #4787ed;
	background-image: -webkit-linear-gradient(top,#a6a6a6,#999999);
	background-image: -moz-linear-gradient(top,#a6a6a6,#999999);
	background-image: -ms-linear-gradient(top,#a6a6a6,#999999);
	background-image: -o-linear-gradient(top,#a6a6a6,#999999);
	background-image: linear-gradient(top,#a6a6a6,#999999);

	border: 1px solid #8c8c8c;
	color: white;
}

.wakeup.blue:hover {
	border: 1px solid #737373;
	
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#a6a6a6,#999999);
	background-image: -moz-linear-gradient(top,#a6a6a6,#999999);
	background-image: -ms-linear-gradient(top,#a6a6a6,#999999);
	background-image: -o-linear-gradient(top,#a6a6a6,#999999);
	background-image: linear-gradient(top,#a6a6a6,#999999);
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
