<!DOCTYPE HTML>
<html>
	<head>
		<title>Observatoire</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />	
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<div id="header">
			<div class="Meteo_Aujourdhui">
					<div id="logo">
						<span class="image avatar48"><img src="img/test.jpg" alt="" /></span>
						<h1 id="title">Observatoire</h1>
						<p>Interface de contrôle</p>
					</div>
					<nav id="nav">
						<ul>
							<li><a href="#Meteo_Aujourdhui" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-adjust">Météo aujourd'hui</span></a></li>
							<li><a href="#Statut_Capteurs" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-cogs">Statuts capteurs</span></a></li>
							<li><a href="#Gestion_Installation" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Gestion installation</span></a></li>
							<li><a href="#Historique_Meteo" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-area-chart ">Historique météo</span></a></li>
						</ul>
					</nav>
			</div>
			<!--
			<div class="bottom">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
					</ul>
			</div>
			-->
		</div>	
		<!-- Main -->
		<div id="main">
			<!-- Intro -->
				<section id="Meteo_Aujourdhui" class="one dark cover">
					<div class="container">
						<header>
							</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
						</header>
					</div>
				</section>

			<!-- Main -->
				<section id="Statut_Capteurs" class="two">
					<div class="container">
					<header><h2> Statut des capteurs </h2></header>
					
					<h2>Station météo</h2>
				
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Capteur de pression</span>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Capteur de bruit</span>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Capteur de pluie</span></br></br>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Capteur de lumière</span>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/>  Capteur d'humidité</span>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Photorésistance</span>
				
					<h2>Observatoire</h2>
						
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Capteur de pression</span>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Capteur de bruit</span>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Capteur de pluie</span></br></br>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Capteur de lumière</span>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/>  Capteur d'humidité</span>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Photorésistance</span>
					
					<h2>Capteurs divers</h3>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Capteur de pression</span>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Capteur de bruit</span>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Capteur de pluie</span></br></br>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Capteur de lumière</span>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/>  Capteur d'humidité</span>
						<span class="onOffAlignGlobal"><img src="img/on.png" class="onOffAlign"/> Photorésistance</span>
					</p></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

					</div>
				</section>

			<!-- About Me -->
				<section id="Gestion_Installation" class="three">
					<div class="container">
						<header>
							<h2>test3</h2></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
						</header>
					</div>
				</section>

			<!-- Contact -->
				<section id="Historique_Meteo" class="four">
					<div class="container">
						<header>
							<h2>test4</h2></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
						</header>
					</div>
				</section>
		</div>
		<!-- Footer -->
		<div id="footer">
			<!-- Copyright -->
				<ul class="copyright">
					<li>&copy; Jettingen Observatory. All rights reserved.</li>
				</ul>
		</div>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.scrollzer.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>