.onOffAlign{
	height:45px;
	vertical-align:middle;
}

.onOffAlignGlobal{
	border:1px solid grey;
	border-radius:25px;
	padding-right:5px;
	padding-top:8px;
	padding-bottom:12px;
	padding-left:-1px;
	z-index:10;
}